* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
}
header .nav {
  grid-area: nav;
  background-color: white;
  color: black;
  font-family: "Thasadith", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

input[type=checkbox] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: black;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px darkgray;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.grillaGeneral {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 4, auto;
  grid-template-areas: "nombre" "nav" "main" "footer";
}

main {
  width: 100%;
  height: 100%;
  background-image: url(../img/2a6e491b-b417-456c-a10f-b81318bf4dd6.jpg);
  border: 0.2rem solid black;
  grid-area: main;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 8rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.cardSombra {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #ddd9d9;
  box-shadow: 15px 15px 30px #302e2e, -15px -15px 30px #ffffff;
}

h1, .main h2, .main h3 {
  font-family: "Thasadith", sans-serif;
  font-size: 4rem;
  color: white;
}

h2, h3 {
  font-family: "Trispace", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}

h3 {
  font-size: 1.5rem;
}

.whatsapp {
  border: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 8rem;
  position: fixed;
  right: 1rem;
}
.whatsapp:hover {
  -webkit-animation: whats 2s;
          animation: whats 2s;
}
@-webkit-keyframes whats {
  10% {
    transform: rotate(360deg);
  }
  20% {
    transform: translateY(2rem);
  }
}
@keyframes whats {
  10% {
    transform: rotate(360deg);
  }
  20% {
    transform: translateY(2rem);
  }
}

.main {
  width: 100%;
  height: 100%;
  background-image: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
}

.main h1, .main h2, .main h3 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color: darkgray;
  text-align: center;
  margin-bottom: 0rem;
}

.main h2, .main h3 {
  font-size: 1.5rem;
}

.main h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  color: darkgray;
  text-align: center;
  margin-bottom: 2rem;
}

.card {
  background-color: black;
}

.card-img-top {
  margin-left: 1.8rem;
  margin-top: 1rem;
}

.card-body {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: darkgray;
}

.card-body h5 {
  color: darkgray;
}

.card-text {
  background-color: black;
  color: white;
  font-size: 0.8rem;
}

.productos {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.fragancia {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.contacto {
  background-color: darkgray;
  color: black;
  font-family: "Thasadith", sans-serif;
  font-size: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

/*footer*/
footer {
  color: black;
  font-family: "Trispace", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  gap: 2rem;
  background-image: linear-gradient(to bottom, white, darkgray);
}

p {
  font-family: "Trispace", sans-serif;
  color: black;
  font-size: 0.5rem;
}

/*break point 1*/
@media (min-width: 480px) {
  /*grilla general*/
  .grillaGeneral {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "nav nav" "main main" "footer footer";
  }
  /*barra navegacion*/
  .nav {
    grid-area: nav;
    background-color: white;
    font-family: "Thasadith", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
  }
  h1, .main h2, .main h3 {
    font-family: "Thasadith", sans-serif;
    font-size: 4rem;
    color: white;
  }
  h2, h3 {
    font-size: 2rem;
    font-weight: bolder;
  }
  h3 {
    font-size: 1rem;
  }
  .main {
    padding: 5rem;
  }
  .main h1, .main h2, .main h3 {
    font-family: "Thasadith", sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
    margin-bottom: 0rem;
  }
  .main h2, .main h3 {
    font-family: "Thasadith", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
  }
  .main h3 {
    font-family: "Trispace", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
    margin-bottom: 2rem;
  }
  .main h4, .main .card-body h5, .card-body .main h5 {
    font-family: "Trispace", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: black;
  }
  .main h5 {
    font-family: "Trispace", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: black;
  }
  /*productos outlet y fragancias*/
  .productos {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat 5, 1fr;
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6" "p7 p8" ". p9 .";
    grid-column-gap: 2rem;
    grid-row-gap: 9rem;
    justify-items: center;
    justify-content: center;
  }
  .p1 .p2 .p3 .p4 .p5 .p6 .p7 .p8 .p9 {
    grid-area: p1 p2 p3 p4 p5 p6 p7 p8 p9;
  }
  /*whatsapp*/
  .whatsapp {
    right: 1rem;
    bottom: 12rem;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
/*break point 2*/
@media (min-width: 1024px) {
  /*grilla gral*/
  .grillaGeneral {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  }
  /**general*/
  /*barra navegacion*/
  .nav {
    grid-area: nav;
    background-color: white;
    font-family: "Thasadith", sans-serif;
    font-weight: bolder;
    font-size: 3rem;
  }
  /*main*/
  main {
    height: 100%;
    width: 100%;
    padding: 10rem;
  }
  h1, .main h2, .main h3 {
    font-family: "Thasadith", sans-serif;
    font-size: 6rem;
    color: white;
  }
  h2, h3 {
    font-size: 3rem;
    font-weight: bolder;
  }
  h3 {
    font-size: 2rem;
  }
  .main {
    padding: 8rem;
  }
  .main h1, .main h2, .main h3 {
    font-family: "Thasadith", sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
    margin-bottom: 0rem;
  }
  .main h2, .main h3 {
    font-family: "Thasadith", sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
  }
  .main h3 {
    font-family: "Trispace", sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
    margin-bottom: 2rem;
  }
  .main h4, .main .card-body h5, .card-body .main h5 {
    font-family: "Trispace", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
  }
  .main h5 {
    font-family: "Trispace", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
  }
  /*productos, outlet y fragancias*/
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "p1 p2 p3" "p4 p5 p6" "p7 p8 p9";
    grid-column-gap: 10rem;
    grid-row-gap: 12rem;
    justify-items: start;
    justify-content: end;
    align-content: center;
  }
  .p1 .p2 .p3 .p4 .p5 .p6 .p7 .p8 .p9 {
    grid-area: p1 p2 p3 p4 p5 p6 p7 p8 p9;
  }
  .fragancia {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-around;
  }
  /*sign in*/
  .contacto {
    padding: 5rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
    background-position: none;
    background-size: none;
    background-repeat: none;
  }
}/*# sourceMappingURL=style.css.map */