* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
}
header .nav {
  grid-area: nav;
  background-color: white;
  color: black;
  font-family: "Thasadith", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

input[type=checkbox] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: black;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px darkgray;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.grillaGeneral {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 4, auto;
  grid-template-areas: "nombre" "nav" "main" "footer";
}

main {
  width: 100%;
  height: 100%;
  background-image: url(../img/2a6e491b-b417-456c-a10f-b81318bf4dd6.jpg);
  border: 0.2rem solid black;
  grid-area: main;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 8rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

h1 {
  font-family: "Thasadith", sans-serif;
  font-size: 5rem;
  color: white;
}

h2 {
  font-family: "Trispace", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
}

.main {
  background-image: linear-gradient(to top, darkgray, white);
}

.main .productos {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 0.5px solid black;
  border-radius: 1rem;
  align-items: center;
}

.card-body {
  flex: 0 1 auto;
  padding: 0rem 3rem;
  margin-bottom: 0.5rem;
}

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  margin-left: 3.5rem;
  margin-top: 1rem;
}

.card-img, .card-img-bottom, .card-img-top-prod {
  width: 100%;
  margin-left: 4.5rem;
  margin-top: 1rem;
}

.card-img, .card-img-bottom, .card-img-top-prod-2 {
  width: 100%;
  margin-left: 5.5rem;
  margin-top: 1rem;
}

.main p {
  font-size: 0.8rem;
}

.main .fragancia {
  display: flex;
  padding: 5rem;
  gap: 10rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.main h1 {
  font-size: 3rem;
  color: black;
}

.main h2 {
  font-size: 0.8rem;
  text-align: center;
  color: black;
}

.main h3 {
  font-size: 1.5rem;
  text-align: center;
}

.main h4 {
  font-size: 1rem;
  text-align: center;
}

.cardSombra {
  width: 240px;
  height: 290px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.main-contacto {
  font-family: "Trispace", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  padding: 2rem;
}

/*footer*/
footer {
  color: black;
  font-family: "Trispace", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  gap: 2rem;
  background-color: darkgray;
}

.footer {
  background-image: linear-gradient(to bottom, white, darkgray);
}

p {
  font-family: "Trispace", sans-serif;
  color: black;
  font-size: 0.5rem;
}

/*break point 1*/
@media (min-width: 480px) {
  /*grilla general*/
  .grillaGeneral {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "nav nav" "main main" "footer footer";
  }
  /*barra navegacion*/
  .nav {
    grid-area: nav;
    background-color: white;
    font-family: "Thasadith", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
  }
  h1 {
    font-family: "Thasadith", sans-serif;
    font-size: 4rem;
    color: white;
  }
  h2 {
    font-size: 2rem;
    font-weight: bolder;
  }
  h3 {
    font-size: 1rem;
  }
  .main {
    padding: 5rem;
  }
  .main h1 {
    font-family: "Thasadith", sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
    margin-bottom: 0rem;
  }
  .main h2 {
    font-family: "Thasadith", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
  }
  .main h3 {
    font-family: "Trispace", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
    margin-bottom: 2rem;
  }
  .main h4 {
    font-family: "Trispace", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: black;
  }
  .main h5 {
    font-family: "Trispace", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: black;
  }
  /*productos outlet y fragancias*/
  .main .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 5, 1fr;
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6" "p7 p8" "p9";
    grid-column-gap: 2rem;
    grid-row-gap: 9rem;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
  }
  .p1 .p2 .p3 .p4 .p5 .p6 .p7 .p8 .p9 {
    grid-area: p1 p2 p3 p4 p5 p6 p7 p8 p9;
  }
  .main .fragancia {
    display: flex;
    padding: 7rem;
    gap: 13rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  /*sign in*/
  .main .contacto {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer {
    background-image: linear-gradient(to bottom, white, darkgray);
  }
}
/*break point 2*/
@media (min-width: 1024px) {
  /*grilla gral*/
  .grillaGeneral {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  }
  /**general*/
  /*barra navegacion*/
  .nav {
    grid-area: nav;
    background-color: white;
    font-family: "Thasadith", sans-serif;
    font-weight: bolder;
    font-size: 3rem;
  }
  /*main*/
  main {
    height: 100%;
    width: 100%;
    padding: 12rem;
  }
  h1 {
    font-family: "Thasadith", sans-serif;
    font-size: 6rem;
    color: white;
  }
  h2 {
    font-size: 3rem;
    font-weight: bolder;
  }
  h3 {
    font-size: 2rem;
  }
  .main {
    padding: 8rem;
  }
  .main h1 {
    font-family: "Thasadith", sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
    margin-bottom: 0rem;
  }
  .main h2 {
    font-family: "Thasadith", sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
  }
  .main h3 {
    font-family: "Trispace", sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    color: darkgray;
    text-align: center;
    margin-bottom: 2rem;
  }
  .main h4 {
    font-family: "Trispace", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
  }
  .main h5 {
    font-family: "Trispace", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: black;
  }
  /*productos, outlet y fragancias*/
  .main .productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "p1 p2 p3" "p4 p5 p6" "p7 p8 p9";
    grid-column-gap: 7rem;
    grid-row-gap: 5rem;
    justify-items: center;
    justify-content: end;
    align-content: center;
  }
  .p1 .p2 .p3 .p4 .p5 .p6 .p7 .p8 .p9 {
    grid-area: p1 p2 p3 p4 p5 p6 p7 p8 p9;
  }
  .main .fragancia {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 25rem;
    justify-content: space-around;
  }
  /*sign in*/
  .main .contacto {
    padding: 5rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
    background-position: none;
    background-size: none;
    background-repeat: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer {
    background-image: linear-gradient(to bottom, white, darkgray);
  }
}/*# sourceMappingURL=style.css.map */