* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
}
header .nav {
  grid-area: nav;
  background-color: white;
  color: black;
  font-family: "Thasadith", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

.grillaGeneral {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 4, auto;
  grid-template-areas: "nombre" "nav" "main" "footer";
}

main {
  background-image: url(../img/2a6e491b-b417-456c-a10f-b81318bf4dd6.jpg);
  border: 0.2rem solid black;
  grid-area: main;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

h2, h3 {
  font-family: "Trispace", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color: black;
}

h3 {
  font-size: 1.5rem;
}

.whatsapp {
  border: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 8rem;
  position: fixed;
  right: 1rem;
}
.whatsapp:hover {
  -webkit-animation: whats 2s;
          animation: whats 2s;
}
@-webkit-keyframes whats {
  10% {
    transform: rotate(360deg);
  }
  20% {
    transform: translateY(2rem);
  }
}
@keyframes whats {
  10% {
    transform: rotate(360deg);
  }
  20% {
    transform: translateY(2rem);
  }
}

.main {
  background-image: none;
  background-image: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}
.main .flexProductos {
  display: flex;
  align-content: flex-start;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.main .flexProductos picture {
  border: 0.1rem solid black;
}

.contacto {
  background-color: darkgray;
  color: black;
  font-family: "Thasadith", sans-serif;
  font-size: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

/*footer*/
footer {
  background-color: white;
  color: black;
  font-family: "Trispace", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
  background-image: linear-gradient(to bottom, white, grey);
}

/*break point 1*/
@media (min-width: 480px) {
  /*grilla general*/
  .grillaGeneral {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "nav nav" "main main" "footer footer";
  }
  /*barra navegacion*/
  .nav {
    grid-area: nav;
    background-color: white;
    font-family: "Thasadith", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
  }
  /*productos outlet y fragancias*/
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 4, 1fr;
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6" "p7 p8" "p9";
    gap: 2rem;
    justify-items: center;
    justify-content: center;
  }
  .p1 .p2 .p3 .p4 .p5 .p6 .p7 .p8 .p9 {
    grid-area: p1 p2 p3 p4 p5 p6 p7 p8 p9;
  }
  /*whatsapp*/
  .whatsapp {
    right: 1rem;
    bottom: 12rem;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
/*break point 2*/
@media (min-width: 1024px) {
  /*grilla gral*/
  .grillaGeneral {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat 3, 1fr;
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  }
  /**general*/
  /*barra navegacion*/
  .nav {
    grid-area: nav;
    background-color: white;
    font-family: "Thasadith", sans-serif;
    font-weight: bolder;
    font-size: 3rem;
  }
  /*main*/
  main {
    padding: 12rem;
  }
  h2, h3 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2rem;
  }
  .main h2, .main h3 {
    font-size: 1rem;
    font-weight: lighter;
  }
  /*productos, outlet y fragancias*/
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat 4, 1fr;
    grid-template-areas: "p1 p2 p3" "p4 p5 p6" "p7 p8 p9";
    gap: 2rem;
    justify-items: center;
    justify-content: center;
  }
  .p1 .p2 .p3 .p4 .p5 .p6 .p7 .p8 .p9 {
    grid-area: p1 p2 p3 p4 p5 p6 p7 p8 p9;
  }
  /**productos*/
  .flexProductos {
    display: flex;
    align-content: space-around;
    justify-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  /*sign in*/
  .contacto {
    padding: 5rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
    background-position: none;
    background-size: none;
    background-repeat: none;
  }
}/*# sourceMappingURL=style.css.map */