$font-principal: 'Thasadith', sans-serif;
$font-secundaria: 'Trispace', sans-serif;
$font-tercera: 'Do Hyeon', sans-serif;
$font-cuarta: 'Rum Raisin', sans-serif;
$color-back: white;
$color-letras: black;
$color-precio:darkgray;
