/*footer*/
footer {
    background-color: $color-back;
    color:$color-letras;
    font-family:$font-secundaria;
    @include size (2rem);
    font-weight: bolder;
    @include medidas (2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2rem;
    background-image: linear-gradient(to bottom, white, grey);
}
