main {
    width: 100%;
    height: 100%;
    background-image: url(../img/2a6e491b-b417-456c-a10f-b81318bf4dd6.jpg);
    border: 0.20rem solid $color-letras;
    grid-area: main;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include medidas (5rem);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    
}
.cardSombra {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background:#ddd9d9;
    box-shadow: 15px 15px 30px #302e2e,
                -15px -15px 30px #ffffff;
}

h1{
    font-family:$font-principal;
    @include size (4rem);
    color:$color-back;
}
h2 {
    font-family: $font-secundaria;
    @include size (2rem);
    font-weight: bolder;
    color:$color-letras;
}    
h3{
    @extend h2;
    @include size (1.5rem);
}
        


.whatsapp{
    border: none;
    position: sticky;
    bottom: 8rem;
    position: fixed;
    right: 1rem;
    &:hover {
        animation: whats 2s;
        @keyframes whats{
            10%{ transform: rotate(360deg)
            }
            20%{ transform: translateY(2rem);
            }
        }
    }    
}

.main{
    width: 100%;
    height: 100%;
    background-image:none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
}   

.main h1{
    font-family:$font-principal;
    @include size (2rem);
    font-weight: lighter;
    color: $color-precio;
    text-align: center;
    margin-bottom: 0rem;       
}
.main h2{
    @extend h1;
    @include size (1.5rem);
}    
    
.main h3{
    font-family:$font-secundaria;
    @include size (1.5rem);
    font-weight: lighter;
    color: $color-precio;
    text-align: center;
    margin-bottom: 2rem;
}
.main h4{
    font-family:$font-secundaria;
    @include size (1rem);
    font-weight: lighter;
    color:$color-letras;
}
.main h5{
    @extend h4;
}    
.productos {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat (9, 1fr);
    grid-template-areas: "p1"
        "p2"
        "p3"
        "p4"
        "p5"
        "p6"
        "p7"
        "p8"
        "p9";
    gap: 8rem;
    justify-items: center;
    justify-content: center;
}
.contacto {
    background-color:$color-precio;
    color:$color-letras;
    font-family:$font-principal;
    @include size (0.5rem);
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}
