main {
    background-image: url(../img/banner.jpeg);
    border: 0.50rem solid $color-letras;
    color:$color-letras;
    font-family: $font-principal;
    font-style: bolder;
    font-size: 1rem;
    grid-area: main;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 8rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    h2 {
        font-family: $font-secundaria;
        font-size: 3rem;
        font-weight: bolder;
        color:$color-letras;
        h3{
            color: $color-letras;
            font-family: $font-secundaria;
            font-size: 1.5rem;
            font-weight: bolder;
            form{
                font-family:$font-principal;
                font-size: 0.5rem;
                font-weight: bolder;
                display: flex;
                justify-content:flex-start;
                flex-direction: column;
                align-content: space-around;
                flex-wrap: wrap;
                align-items: stretch;
            }
        }
    }    
}

.whatsapp{
    border: none;
    position: sticky;
    bottom: 8rem;
    position: fixed;
    right: 1rem;
    &:hover {
        animation: whats 2s;
        @keyframes whats{
            10%{ transform: rotate(360deg)
            }
            20%{ transform: translateY(2rem);
            }
        }
    }    
}
.main{
    background-image: none;
    background-image: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    .flexProductos {
        display: flex;
        align-content: flex-start;
        justify-items: center;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        picture{
            border: 0.20rem solid $color-letras;
            .productos {
                font-family:$font-principal ;
                font-style: bolder;
                font-size: 1.3rem;
            }
        }
    }
}

.buy :hover {
    transition: all 1.5s;
    transform: translate(1rem, 0.5rem);
}

.contacto {
    font-family:$font-principal;
    font-size: 0.5rem;
    font-weight: bolder;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}
