main {
    width: 100%;
    height: 100%;
    background-image: url(../img/portada.jpg);
    border: 0.20rem solid $color-letras;
    grid-area: main;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include medidas (10rem);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    
}

h1{
    font-family:$font-principal;
    @include size (5rem);
    color:$color-back;
}

h2 {
    font-family: $font-secundaria;
    @include size (2rem);
    font-weight: bolder;
    color:$color-back;
} 

.main{
    background-image: linear-gradient(to top, $color-precio, $color-back);
}

.main .productos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1rem;
}

.card {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color:$color-back;
    background-clip: border-box;
    border: 0.5px solid $color-letras;
    border-radius: 1rem;
    align-items: center;
    border-radius: 30px;
    background: transparent;
    box-shadow: 15px 15px 30px $color-precio, -15px -15px 30px $color-back;
    flex-wrap: nowrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex: 0 1 auto;
    padding: 0rem 3rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    margin-left: 3.5rem;
    margin-top: 1rem;
}

.card-img, .card-img-bottom, .card-img-top-prod {
    width: 100%;
    margin-left: 4.5rem;
    margin-top: 1rem;
}

.card-img, .card-img-bottom, .card-img-top-prod-2{
    width: 100%;
    margin-left: 5.5rem;
    margin-top: 1rem;
}

.main p{
    @include size (0.8rem);
}

.main .fragancia{
    display: flex;
    @include medidas (5rem);
    gap: 10rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.card-img, .card-img-bottom, .card-img-top-fra {
    width: 100%;
    margin-left: 5.5rem;
    margin-top: 1rem;
}

.main h1{
    @include size (3rem);
    color:$color-letras;
    background:$color-back;
    border-radius: 1rem;
    padding: 0.4rem;
    border-bottom: double;
    text-align: center; 
    background: transparent;
    box-shadow: inset 3px 7px 20px 5px $color-precio;
}

.main h2{
    @include size (0.8rem);
    text-align: center;
    color: $color-letras;
}

.main h3{
    @include size (1.5rem);
    text-align: center;
}

.main h4{
    @include size (1rem);
    text-align: center;
}


.main-contacto{
    background-image: url(../img/academiadedanza12.jpg);
    font-family: $font-secundaria;
    @include size (1rem);
    font-weight: bolder;
    @include medidas (2rem);
}

.nosotros{
    background-image: url(../img/firmagris.jpg);
    @include medidas (2rem);
    background-repeat: repeat-y;
}

.nosotros h1{
    @include size (3rem);
    color: $color-letras;
    border-radius: 1rem;
    padding: 0.4rem;
    border-bottom: double;
    text-align: center; 
    background: transparent;
    box-shadow: inset 3px 7px 20px 5px $color-precio;
}

.nosotros p{
    @include size (1.2rem);
    color: $color-letras;
    font-weight: bolder;
}