/*break point 1*/
@media(min-width:480px) {

    /*grilla general*/
    .grillaGeneral {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (3, 1fr);
        grid-template-areas: "nav nav"
            "main main"
            "footer footer";
    }

    /*barra navegacion*/
    .nav{
        grid-area: nav;
        background-color:$color-back;
        font-family: $font-principal;
        font-weight: bolder;
        @include size (2rem);
    }
    h1{
        font-family:$font-principal;
        @include size (4rem);
        color:$color-back;
    }    

    h2{
        @include size (2rem);
        font-weight: bolder;
    }

    h3{
        @include size (1rem);
    }
    .main{
        padding: 5rem;
    }
    .main h1{
        font-family:$font-principal;
        @include size (4rem);
        font-weight: lighter;
        color: $color-precio;
        text-align: center;
        margin-bottom: 0rem;       
    }
    .main h2{
        font-family:$font-principal;
        @include size (1.5rem);
        font-weight: lighter;
        color: $color-precio;
        text-align: center;
    }
    .main h3{
        font-family:$font-secundaria;
        @include size (1.5rem);
        font-weight: lighter;
        color: $color-precio;
        text-align: center;
        margin-bottom: 2rem;
    }
    .main h4{
        font-family:$font-secundaria;
        @include size (1rem);
        font-weight: lighter;
        color:$color-letras;
    }
    .main h5{
        font-family:$font-secundaria;
        @include size (1rem);
        font-weight: lighter;
        color:$color-letras ;
    }
    /*productos outlet y fragancias*/
    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (4, 1fr);
        grid-template-areas: "p1 p2"
            "p3 p4"
            "p5 p6"
            "p7 p8"
            "p9";
        gap: 2rem;
        justify-items: center;
        justify-content: center;
    }

    .p1 .p2 .p3 .p4 .p5 .p6 .p7 .p8 .p9{
        grid-area: p1 p2 p3 p4 p5 p6 p7 p8 p9
    }


    /*whatsapp*/
    .whatsapp {
        right: 1rem;
        bottom: 12rem;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center
    }
}
/*break point 2*/
@media(min-width:1024px) {

    /*grilla gral*/
    .grillaGeneral {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat (3, 1fr);
        grid-template-areas: "nav nav nav"
            "main main main"
            "footer footer footer";
    }

    /**general*/

    /*barra navegacion*/
    .nav {
        grid-area: nav;
        background-color:$color-back;
        font-family:$font-principal;
        font-weight: bolder;
        @include size (3rem);
    }

    /*main*/
    main {
        height: 100%;
        width: 100%;
        padding: 10rem;
    } 
    h1{
        font-family:$font-principal;
        @include size (6rem);
        color:$color-back;
    }    
    h2{
        @include size (3rem);
        font-weight: bolder;
    }
    h3{
        @include size (2rem);
    }
    .main{
        padding: 5rem;
    }
    .main h1{
        font-family:$font-principal;
        @include size (3rem);
        font-weight: lighter;
        color: $color-precio;
        text-align: center;
        margin-bottom: 0rem;       
    }
    .main h2{
        font-family:$font-principal;
        @include size (2rem);
        font-weight: lighter;
        color: $color-precio;
        text-align: center;
    }
    .main h3{
        font-family:$font-secundaria;
        @include size (2rem);
        font-weight: lighter;
        color: $color-precio;
        text-align: center;
        margin-bottom: 2rem;
    }
    .main h4{
        font-family:$font-secundaria;
        @include size (1.5rem);
        font-weight: lighter;
        color:$color-letras;
    }
    .main h5{
        font-family:$font-secundaria;
        @include size (1.5rem);
        font-weight: lighter;
        color:$color-letras ;
    }

    /*productos, outlet y fragancias*/
    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat (4, 1fr);
        grid-template-areas: "p1 p2 p3"
            "p4 p5 p6"
            "p7 p8 p9";
        gap: 2rem;
        justify-items: center;
        justify-content: center;
    }

    .p1 .p2 .p3 .p4 .p5 .p6 .p7 .p8 .p9 {
        grid-area: p1 p2 p3 p4 p5 p6 p7 p8 p9;
    }

    /**productos*/
    .flexProductos {
        display: flex;
        align-content: space-around;
        justify-items: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    /*sign in*/
    .contacto {
        @include medidas(5rem);
        border: 0.10rem solid $color-letras;
        @include size (1.5rem);
        background-position: none;
        background-size: none;
        background-repeat: none;
    }
}



